<div class="container" style="max-width: 600px; font-family: 'Roboto', sans-serif;">

    <br>

    <div class="row" id="corpo" style="text-align: left">
        <div class="row" id="cabecalho">
            <div class="col s12" style="text-align: center">
{#                <img width="80" height="80" src="http://www.palmas.to.gov.br/static/base/img/brasao.png"><br/>#}
                    <span class="card-title black-text" style="line-height: 18px; font-size: 14px;">
                    <strong>ZUMBEATS</strong>
                </span>
            </div>
        </div>
        <div> <br> <br> </div>
        <div>
            <a href="{{ link }}">{{ frase }}.</a>
        </div>
        <div><br></div>
        <div>
            <p>Ou copie e cole este link no seu navegador: {{ link }}</p>
        </div>

    </div>
</div>