{% extends 'base.html' %}

{% block content %}

    <h3>{{ titulo }}</h3>

    <div class="row">
        {% if form.non_field_errors %}
            <div class="form_errors alert alert-danger">
                {% for err in form.non_field_errors %}
                    <div class="card-panel red lighten-1 white-text">{{ err }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <form action=""method="post">
            <fieldset class="z-depth-1">

                {% csrf_token %}

                {% for field in form %}
                    {% if not field.is_hidden %}
                        <div class="input-field col s12 m12 l12">
                            {{ field }}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% if field.errors %}
                                <span class="help-block" style="color: #B94A48; font-size: 12px">{{ field.errors|safe  }}</span>
                            {% endif %}
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}

            </fieldset>

            <div class="fixed-action-btn" style="bottom: 4%; right: 8%;">
                <button class="btn-floating btn-large green z-depth-2 tooltipped" data-position="left" data-delay="50" data-tooltip="Salvar" type="submit">
                  <i class="large material-icons">save</i>
                </button>
            </div>
        </form>
            <div class="col s1 fixed-action-btn " style="bottom: 4%; left: 8%;">
                <a href="{% url 'pessoa_list' %}" class="tooltipped" data-position="left" data-delay="10" data-tooltip="Voltar">
                    <button class="btn-floating btn-large  waves-effect waves-light z-depth-2"><i class="material-icons">keyboard_arrow_left</i></button>
                </a>
            </div>
    </div>
    <br><br><br><br>
{% endblock %}